body{
    background-color: rgb(144, 120, 180);
}
h1{
    background-color: rgb(144, 120, 154);
    text-align: center;
    color: midnightblue;
}
#textplace{
    background: rgb( 144, 120, 166);
    text-align: center;
}
textarea{
    background-color: hsla(197, 87%, 56%, 0.5);
    color: white;
    padding: 15px 32px;
    font-style: italic;
    font-size: x-large;
}
button{
    background-color: #e49012;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#resultplace{
    text-align: center;
    background-color: mintcream;
    width: 400px;
    height: 250px;
    font-size: x-large;
    font-weight: 800;
    font-style: oblique;
    float:right;
    
}
#resultplace img{
    width: 60px;
    height: 60px;
}
/*border: 1px solid blue;*/